body{
    background-color: black;
}

.clock{
    color : #17D4EF;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 7px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}