@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    width: 300px;
    box-shadow: 0px 0px 20px 10px #0044ff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

input {
    border: none;
    border-bottom: 1px solid #0044ff;
    width: 50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

button {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #0044ff;
    color: #fff;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
}
