$blue : #17D4EF;
$white : #FFF;


@mixin corners($radius) {
    border-radius: $radius;
}

@mixin  transition {
    transition: all 0.5s ease-in-out;
}

body{
    background-color: $blue;
    font-family: sans-serif;
}

.wrapper{
    text-align: center;
    color: $white;

    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 100;
    }

    #seconds, #tens{
        font-size: 32px;
    }

    button{
        @include corners(5px);
        background-color: $blue;
        color: $white;
        font-size: 18px;
        padding: 18px 10px;
        width: 180px;
        margin: 10px;
        border: 1px solid $white;
        cursor: pointer;
        &:hover{
            @include transition;
            background-color: $white;
            color: $blue;
            border: 1px solid $white;
        }
    }
}