@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #c5e4e7;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    margin-top: 50px;
    width: 800px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
}

.wrapper {
    padding: 40px;
    width: 50%;
}

input {
    width: 80%;
    border: none;
    background: #f3f8fb;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 2px;
}

input:focus {
    outline: none;
}

input::placeholder {
    opacity: 0.7;   
}

.tips {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tip {
    background: #00474b;
    color: #a4cdd1;
    min-width: 80px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    height: 40px;
    width: 100%;
    background-color: #39CCCC;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.right-wrapper {
    background: #00474b;
    color: #9dc8c9;
    width: 50%;
    padding: 30px;
}

.right-wrapper p {
    margin-bottom: 20px;
}

span {
    font-size: 30px;
}