body{
    background-color: #001f4f;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 350px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
}

h1{
    position: absolute;
    left: 50%;
    top: -60px;
    width: 300px;
    transform: translateX(-50%);
    background-color: #FF851B;
    color: #fff;
    font-weight: 100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.wrapper{
    padding: 20px;
}

input, select{
    width: 80%;
    border: none;
    border-bottom: 1px solid #0074D9;
    padding: 10px ;
}

input:focus, select:focus{
    border: 1px solid #0074D9;
    outline: none;
}

select{
    width: 88% !important;
}

button{
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: #39CCCC;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}


.tip{
    text-align: center;
    font-size: 18px;
    display: none;
}