@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    text-align: center;
    background-color: #131313;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #F5F5F5;
    font-size: 40px;
}

table {
    margin: auto;
}

th {
    color: #FFFFFF;
}

input {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
}

.countdown {
    display: flex;
    justify-content: center;
}

.heading {
    color: #F5F5F5;
    font-size: 18px;
    text-transform: uppercase;
}

.time {
    background-color: #090909;
    color: #FFFFFF;
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
}